p{
padding-top: 8px;
}

.centra{
	margin-top: 10px;
}

.cimps-logo {
	width: 30%;
	position: relative;
	float: left;
	height: auto;	
}
.cimat-logo {
	float: right;
	position: relative;
	width: 10%;
	height: auto;	
}
.pnpc-logo {
	float: right;
	position: relative;
	width: 17%;
	height: auto;	
}
.div-sections {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
}
.ui-state-active a {
	background-color: #A4A4A4;
	font-weight: bold;
}

.tab-row-title {
    border-collapse:separate;
    border: solid #C1C1C1 1px;
    text-align: center;
    font-weight: bold;
}
.tab-row-title td {
}
.table-style {
    border-collapse:separate;
    border: solid #A71C1C 1px;
}
.table-style tr {
    border: 1px solid #A71C1C;
}

.tab-program-content {
}
.td-horario {
    text-align: center;
}
.td-detail {
    text-align: center;
}

.td-all-row {
    text-align: center;

}


.table-program td {
   border: 1px solid #8C917E;
}
.styletype0
{
	background-color: #535442; /*gray Evento Social*/
	border-radius: 10px;
	color:#FFFFFF;
}
.styletype1
{
	background-color: #d4d4d4; /*grey Conferencia*/
	font-family: arial, helvetica;
	border-radius: 10px;
		/*	ffont-size: 18;  */
}
.styletype2
{
	background-color:  #d4d4d4; /*purple Taller*/
	border-radius: 10px;

}
.styletype3
{
	background-color: #860000; /*wine Artículo*/ 
	color: #F2F2F2;
	border-radius: 10px;
}
.styletype4
{
	background-color: #860000; /*wine Networking*/ 
	color: #F2F2F2;
	border-radius: 10px;
}
.styletype5
{
	background-color: #860000; /*wine privado*/ 
	color: #F2F2F2;
	border-radius: 10px;
}
.styletype7
{
	background-color: #860000; /*wine registro*/ 
	color: #F2F2F2;
	border-radius: 10px;
}
.locationtype11
{
	background-color: #860000; /*wine*/ 
	color: #DAD7D7; /* white */
	border-radius: 10px;
}
.locationtype12
{
	background-color: #D4D4D4; /*grey*/ 
	color: #000000; /* black */
	border-radius: 10px;
}
.locationtype13
{
	background-color: #FBD4B4; /*orange*/ 
	color: #000000; /* black */
	border-radius: 10px;
}
.locationtype14
{
	background-color: #D6E3BC; /*green*/ 
	color: #000000; /* Black */
	border-radius: 10px;
}
.locationtype15
.locationtype16
.locationtype17
.locationtype18
.locationtype19
.locationtype20
.locationtype22
{
	background-color: #FFFFFF; /* white */ 
	color: #000000; /* black */
	border-radius: 10px;
}
.eventtype7
{
	background-color: #7F7F7F; /* grey */ 
	color: #FFFFFF; /* white */
	border-radius: 10px;
	font-size: 16px;
}
.eventtype8
{
	background-color: #860000; /* wine */ 
	color: #DAD7D7; /* white */
	font-size: 16px;
	border-radius: 10px;
}
.eventtype9
{
	background-color: #548DD4; /* blue */ 
	color: #FFFFFF; /* white */
	border-radius: 10px;
	font-size: 16px;
}
.general-event
{
	background-color: #d4d4d4; /*blue MAIN*/
	font-family: arial, helvetica;
	border-radius: 10px;
		/*	ffont-size: 18;  */
}
.speak
{
	background-color: #860000; /*wine MAIN*/ 
	color: #F2F2F2;
	border-radius: 10px;
}
.workshop
{
	background-color:  #d4d4d4; /*purple*/
	border-radius: 10px;

}
.keynote
{
	background-color: #b5b5b5;
	border-radius: 10px;

}
.closure
{
	background-color: #535442; /*gray*/
	border-radius: 10px;
	color:#FFFFFF;
}
.style-link a
{
 color: #a97257;
}

.over-button a{
/*  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
  border-radius: 14px;
  box-shadow: 3px 11px 8px #888888;
  background-color: black;
}

.over-button a:hover {
	background-color: #black;
}
.over-button a:focus
  {
     background-color: black;
  }
